{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Connexion Entreprise</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'new_css/style_form.css' %}">
    </head>
    <body>
        <header>
            <nav>
              <!-- logo -->
              <div class="logo">
                <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
              </div>
            </nav>
        </header>
        <main>
            <h1>Connexion Entreprise</h1>
            {%for message in messages%}
                <p>{{ message }} </p>
            {%endfor%}
            <form method="POST">
            {% csrf_token %}
                <div class="element">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="input" required/>
                </div>
                <div class="element">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" class="input" required/>
                </div>
                <div class="submit_div">
                    <label for="submit"></label>
                    <input type="submit" name="submit" class="submit">
                </div>
            </form>

        </main>
    </body>
</html>
