{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <title>Profil entreprise</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
  </head>
    <body>
      <header>
        <nav>
          <!-- logo -->
          <div class="logo">
            <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
          </div>
          {% if user.is_authenticated %}

          {% if user.is_entreprise == True %}

          <div class="log">
            <a href="{% url 'jobfinder_compte:entreprise_page'%}" class="button-1 connexion">Mon compte pro </a>
          </div>
          <a href="{% url 'logout_entreprise' %}" method="post" class="button-1 connexion">Se déconnecter</a>

          {% else %}

          <div class="log">
            <a href="{% url 'jobfinder_compte:user_page'%}" class="button-1 connexion"> Mon compte particulier </a>
          </div>
          {% endif %}

        {% else %}

        <div class="log">
          <!-- Connexion -->
          <a href="{% url 'connexion_page'%}" class="button-1 connexion">Connection</a>
          <!-- Inscription-->
          <a href="{% url 'inscription_page'%}" class="button-1 inscription">Inscription</a>
        </div>

        {% endif %}
        </nav>
      </header>
      <main>
        {% for entreprise in entreprises %}
          {% if user.id == entreprise.user_id%}
            <h1> {{entreprise.nom_entreprise}} </h1>
            <h2> {{entreprise.pageweb}} </h2>
            <p>Adresse : {{entreprise.adresse}} </p>
            <p>Taille: {{entreprise.taille}} </p>
            <p>Description: {{entreprise.description}} </p>
          {% endif %}
        {% endfor %}

        <div class="log">
          <a href="/compte/update_user/{{user.pk}}" class="button-1 connexion"> Mettre à jour mes informations </a>
          <a href="/jobfinder/annonce_form/{{user.pk}}" class="button-1 inscription"> Créer une nouvelle annonce </a>
        </div>
      </main>
      <footer>
        <h4>Contactez-nous</h4>
        <p>Email : x </p>
        <p>Télephone : 06-</p>
        <p>adresse</p>
      </footer>
    </body>
</html>
