{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Entreprise form</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
    </head>
    <body>
      <header>
        <nav>
          <!-- logo -->
          <div class="logo">
            <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
          </div>
        </nav>
    </header>
        <main>
          <form method="POST">
            {% csrf_token %}
            <!-- nom entreprise -->
            <div>
              <label for="nom_entreprise">Nom de votre entreprise</label><br>
              <input type="text" name="nom_entreprise" required>
            </div>
            <!-- pageweb -->
            <div>
              <label for="pageweb">Votre page web</label><br>
              <input type="url" name="pageweb" required>
            </div>
            <!-- adresse -->
            <div>
              <label for="adresse">Votre adresse</label><br>
              <input type="text" name="adresse" required>
            </div>
            <!-- taille entreprise -->
            <div>
              <label for="taille">Taille de votre entreprise</label><br>
              <select name="taille">
                <option value="0-10"> 0-10 employés </option>
                <option value="10-250"> 10-250 employés </option>
                <option value="250-5000"> 250-5000 employés </option>
                <option value="+5000"> +5000 employés </option>
              </select>
            </div>
            <!-- description de l'entreprise -->
            <div>
              <label for="description">Description de votre entreprise</label><br>
              <textarea name="description" placeholder="Votre description" required></textarea>
            </div>
            <!-- email -->
            <div>
              <label for="username">Votre email</label><br>
              <input type="email" name="username" required>
            </div>
            <!-- mot de passe -->
            <div>
              <label>Choisissez un mot de passe</label><br>
              <input type="password" required>
            </div>
            <!-- confirmation de mot de passe -->
            <div>
              <label for="password">Confirmez votre mot de passe</label><br>
              <input type="password" name="password" required >
            </div>
            <!-- boutton envoyer -->
            <div>
              <input type="submit" value="Envoyer">
            </div>

          </form>
        </main>
        <footer>
          <h4>Contactez-nous</h4>
          <p>Email : x </p>
          <p>Télephone : 06-</p>
          <p>adresse</p>
        </footer>
    </body>
</html>
