{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <title>Profil particuliers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
</head>
<body>
    <header>
        <nav>
          <!-- logo -->
          <div class="logo">
            <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
          </div>

          <!-- Vérifié si l'utilisateur est connecté -->
          {% if user.is_authenticated %}

          {% if user.is_particulier == True%}

          <div class="log">
            <a href="{% url 'logout_user' %}" method="post" class="button-1 connexion">Se déconnecter</a>
          </div>

          {% else %}

          <div class="log">
            <a href="{% url 'jobfinder_compte:entreprise_page'%}" class="button-1 connexion"> Mon compte pro </a>
          </div>
          {% endif %}

        {% else %}

        <div class="log">
          <!-- Connexion -->
          <a href="{% url 'connexion_page'%}" class="button-1 connexion">Connexion</a>
          <!-- Inscription-->
          <a href="{% url 'inscription_page'%}" class="button-1 inscription">Inscription</a>
        </div>

        {% endif %}

        </nav>
    </header>
    <main>
      <form action="" method="POST">
        {% csrf_token %}

        <br><br>
        <div class="alert alert-danger" role="alert">
          Etes-vous sûr de vouloir supprimer "{{particulier.nom}}"?
        </div>

        <p>
            <a href="{% url 'jobfinder_compte:entreprise_page' %}">--Return</a>
        </p>

        <p>
            <input type="submit" value="Confirm">
        </p>
      </form>
    </main>
    <footer>
        <h4>Contactez-nous</h4>
        <p>Email : x </p>
        <p>Télephone : 06-</p>
        <p>adresse</p>
    </footer>
    </body>
</html>
