
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Mise à jour profil particuliers</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
    </head>
    <body>
        <header>
            <nav>
              <!-- logo -->
              <div class="logo">
                <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
              </div>

            </nav>
        </header>
        <main>
          {% if user.is_authenticated %}
          {% if user.is_particulier == True%}
            <form method="POST">
              {% csrf_token %}
              {{form1.as_p}}
              {{form2.as_p}}
              <input type="submit">
          </form>

          {% else %}

          <div class="log">
            <a href="{% url 'jobfinder_compte:entreprise_page'%}" class="button-1 connexion"> Mon compte pro </a>
          </div>
          {% endif %}

        {% else %}

        <div class="log">
          <!-- Connexion -->
          <a href="{% url 'connexion_page'%}" class="button-1 connexion">Connexion</a>
          <!-- Inscription-->
          <a href="{% url 'inscription_page'%}" class="button-1 inscription">Inscription</a>
        </div>

        {% endif %}

            {%for message in messages%}
                <p>{{ message }} </p>
            {%endfor%}
        </main>
        <footer>
          <h4>Contactez-nous</h4>
          <p>Email : x </p>
          <p>Télephone : 06-</p>
          <p>adresse</p>
        </footer>
    </body>
</html>
