{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <title>Profil particuliers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
</head>
<body>
    <header>
        <nav>
          <!-- logo -->
          <div class="logo">
            <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
          </div>

          <!-- Vérifié si l'utilisateur est connecté -->
          {% if user.is_authenticated %}

          {% if user.is_particulier == True%}

          <div class="log">
            <a href="{% url 'jobfinder_compte:user_page'%}" class="button-1 connexion">
            {% for particulier in particuliers %}
              {% if user.id == particulier.user_id%}
                {{particulier.prenom}}
                {% endif %}
            {% endfor %}</a>
          </div>
          <div class="log">
            <a href="{% url 'logout_user' %}" method="post" class="button-1 connexion">Se déconnecter</a>
          </div>

          {% else %}

          <div class="log">
            <a href="{% url 'jobfinder_compte:entreprise_page'%}" class="button-1 connexion"> Mon compte pro </a>
          </div>
          {% endif %}

        {% else %}

        <div class="log">
          <!-- Connexion -->
          <a href="{% url 'connexion_page'%}" class="button-1 connexion">Connection</a>
          <!-- Inscription-->
          <a href="{% url 'inscription_page'%}" class="button-1 inscription">Inscription</a>
        </div>

        {% endif %}

        </nav>
    </header>
    <main>
      <!-- Montrer les informations utilisateurs -->
      {% for particulier in particuliers %}
        {% if user.id == particulier.user_id%}
          <h1> {{particulier.prenom}} </h1>
          <h2> {{particulier.nom}} </h2>
          <p>Telephone : {{particulier.telephone}} </p>
          <p>Email : {{user.email}} </p>
        {% endif %}
      {% endfor %}
      <div class="log">
        <a href="/compte/update_user/{{particulier.pk}}" class="button-1 connexion"> Mettre à jour mes informations </a>
      </div>

    </main>
    <footer>
        <h4>Contactez-nous</h4>
        <p>Email : x </p>
        <p>Télephone : 06-</p>
        <p>adresse</p>
    </footer>
    </body>
</html>
