{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Formulaire particuliers</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style_form_01.css' %}">
    </head>
    <body>
        <header>
            <nav>
              <!-- logo -->
              <div class="logo">
                <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
              </div>
            </nav>
        </header>
        <main>
            <form method="POST">
                {% csrf_token %}
                <div class="element">
                    <label for="nom">Nom</label><br>
                    <input type="text" name="nom" class="input" required>
                </div>
                <div class="element">
                    <label for="prenom">Prénom</label><br>
                    <input type="text" name="prenom" class="input" required>
                </div>
                <div class="element">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" class="input" required>
                </div>
                <div class="element">
                    <label for="telephone">Téléphone</label><br>
                    <input type="text" name="telephone" class="input">
                </div>
                <div class="element">
                    <label for="cmdp">Mot de passe</label><br>
                    <input type="password" name="cmdp" class="input" required>
                </div>
                <div class="element">
                    <label for="password">Confirmation du mot de passe</label><br>
                    <input type="password" name="password" class="input" required>
                </div>
                <div class="submit_div">
                    <input type="submit" name="submit" class="submit" value="Envoyer">
                </div>
            </form>
            {%for message in messages%}
                <p>{{ message }} </p>
            {%endfor%}
        </main>
        <footer>
          <h4>Contactez-nous</h4>
          <p>Email : x </p>
          <p>Télephone : 06-</p>
          <p>adresse</p>
        </footer>
    </body>
</html>
