@font-face {
    font-family: Quantify;
    src: url(../JobFinder_Front_Elements/font/Quantify.ttf);
}

@font-face {
    font-family: ITC_book;
    src: url(../JobFinder_Front_Elements/font/ITC/ITCAvantGardeStd-BkCn.otf);
}



body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: ITC_book;
}

header{
    flex: 1;
    display: flex;
}


nav{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.logo{
    flex: 3;

}

.logo_img{
    max-width: 20%;
    max-height: 99%;
    margin: 10px;
}

.log{
    flex: 1;
    display: flex;
    flex-direction: row;
    height: min-content;
    align-content: flex-end;
}

/* CSS - Bouton connexion*/
.connexion {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.inscription {
    align-items: center;
    background-color: #828dc4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }

.button-1:hover,
.button-1:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-1:hover {
  transform: translateY(-1px);
}

.button-1:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* Fin Header */

/* Main */
main{
    flex:6;
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
}

/* Home page form */

form{
    text-align: center;
    flex: 4;
}

.find{
    font-size: x-large;
}

.searchBar{
    border: solid black;
    border-radius: 30px;
    height: 30px;
    display: flex;
    padding: 5px;
}

.recherche{
    outline: none;
    border: none;
    border-radius: 30px;
    padding-left: 5px;
    font-size: larger;
}

.searchBut{
    max-width: 99%;
    max-height: 99%;
    border-radius: 40px;
}

/* catch phrase */

.divCatch{
    flex: 1;
}

.catchPhrase{
    font-family: Quantify;
    text-align: center;
    font-size: 90px;
}

/* recherche page form */

form{
    text-align: center;
}

.find{
    font-size: x-large;
}

.researchBar{
    border: solid black;
    border-radius: 30px;
    height: 20px;
    display: flex;
    padding: 5px;
}

.recherche{
    outline: none;
    border: none;
    border-radius: 30px;
    padding-left: 5px;
    font-size: larger;
}

.searchBut{
    max-width: 99%;
    max-height: 99%;
    border-radius: 40px;
}


/* Footer */
footer{
    flex: 3;
    border: solid black;
}

