{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
    </head>
    <body>
        <header>
            <nav>
              <!-- logo -->
              <div class="logo">
                <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
              </div>

              <!-- Vérifié si l'utilisateur est connecté -->

            {% if utilisateur.is_authenticated %}

              {% if user.is_particulier == True%}

              <div class="log">
                <a href="{% url 'jobfinder_compte:user_page'%}"> Compte </a>
              </div>
              {% else %}

              <div class="log">
                <a href="{% url 'jobfinder_compte:entreprise_page'%}" class="button-1 connexion"> Compte </a>
              </div>
              {% endif %}

            {% else %}

            <div class="log">
              <!-- Connexion -->
              <a href="{% url 'connexion_page'%}" class="button-1 connexion">Connexion</a>
              <!-- Inscription-->
              <a href="{% url 'inscription_page'%}" class="button-1 inscription">Inscription</a>
            </div>

            {% endif %}
            </nav>
        </header>
        <main>
          <form action="{%url 'recherche_page'%}">
            <label for="recherche" class="find">Find ton job de rêve ici</label><br>
            <div class="searchBar">
              <input type="text" name="recherche" class="recherche" size="40" placeholder="Search here"/>
              <button class="searchBut"><img src="{% static 'img/Loupe.png' %}" class="searchBut"></button>
            </div>
          </form>

          <div class="divCatch">
            <h2 class="catchPhrase">Find your dream job here</h2>
          </div>
        </main>
        <!-- Contact us -->
        <footer>
          <h4>Contactez-nous</h4>
          <p>Email : x </p>
          <p>Telephone : 06-</p>
          <p>adresse</p>
        </footer>
    </body>
</html>