{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
    </head>
    <body>
        <header>
            <nav>
              <!-- logo -->
              <div class="logo">
                <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
              </div>

              <!-- Vérifié si l'utilisateur est connecté -->

              {% if user.is_authenticated %}

              {% if user.is_particulier == True%}

              <div class="log">
                <a href="{% url 'jobfinder_compte:user_page'%}" class="button-1 connexion"> Mon compte particulier </a>
                <a href="{% url 'logout_user' %}" method="post" class="button-1 connexion">Se déconnecter</a>
              </div>

              {% else %}

              <div class="log">
                <a href="{% url 'jobfinder_compte:entreprise_page'%}" class="button-1 connexion"> Mon compte pro </a>
                <a href="{% url 'logout_entreprise' %}" method="post" class="button-1 connexion">Se déconnecter</a>
              </div>
              {% endif %}

            {% else %}

            <div class="log">
              <!-- Connexion -->
              <a href="{% url 'connexion_page'%}" class="button-1 connexion">Connection</a>
              <!-- Inscription-->
              <a href="{% url 'inscription_page'%}" class="button-1 inscription">Inscription</a>
            </div>

            {% endif %}
            </nav>
        </header>
        <main>
          <form method="POST">
            {% csrf_token %}
            <label for="recherche" class="find">Find ton job de rêve ici</label><br>
            <div class="searchBar">
              <input type="text" name="recherche" class="recherche" size="40" placeholder="Search here"/>
              <button class="searchBut"><img src="{% static 'img/Loupe.png' %}" class="searchBut"></button>
            </div>
          </form>

          <!-- Ici doit y avoir les annonces -->

          {% for annonce in annonces %}
          <div class="jobEncart">
          
            <div class="jobTitle">
              <h3 class="annonceTitre">{{annonce.titre}}</h3>
              <h6 class="annonceElement">Adresse : <br>{{annonce.adresse}}</h6>
              <h6 class="annonceElement">Entreprise : <br>{{annonce.nom_entreprise}}</h6>
              <h6 class="annonceElement">Type de contrat :<br>{{annonce.contrat}}</h6>
              <h6 class="annonceElement">Date de publication :<br>{{annonce.date}}</h6>
            </div>

            <div class="short_description">
              <p>{{annonce.short_description}}</p>
            </div>

            <!-- Longue description cachée -->
            <div class="long_description" style="display: none;">
              <p>{{ annonce.long_description }}</p>
            </div>

            {% if user.is_authenticated and user.is_particulier == True %}

            <div class="buttons">
              <button class="learnMore">Learn More</button>
              <a href="candidature_form/{{user.pk}}"><button class="postuler">Postuler</button></a>
            </div>

            {% else %}

            <div class="buttons">
              <button class="learnMore">Learn More</button>
              <a href="no_compte_candidature_form"><button class="postuler">Postuler</button></a>
            </div>

            {% endif %}

          </div>
          {% endfor %}

          <div class="divCatch">
            <h2 class="catchPhrase">Find your dream job here</h2>
          </div>
        </main>
        
        <!-- Contact us -->
        <footer>
          <h4>Contactez-nous</h4>
          <p>Email : x </p>
          <p>Telephone : 06-</p>
          <p>adresse</p>
        </footer>
        <script>

          const learnMoreButton = document.querySelectorAll(".learnMore")
  
            learnMoreButton.forEach(button => {
              button.addEventListener("click", function(){
  
              const jobEncart = button.closest(".jobEncart")
  
              const longDescription = jobEncart.querySelector(".long_description")
              const shortDescription = jobEncart.querySelector(".short_description")
  
              if (longDescription.style.display == "none"){
                longDescription.style.display = "block"
                shortDescription.style.display = "none"
                button.textContent = "Show Less"
              }else{
                longDescription.style.display = "none"
                shortDescription.style.display = "block"
                button.textContent = "Learn More"
              }
            });          
          })
        
        </script>
    </body>
</html>
