{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Formulaire candidature</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'new_css/style_form.css' %}">
    </head>
    <body>
      <header>
        <nav>
          <!-- logo -->
          <div class="logo">
            <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
          </div>


          <div class="log">
            <!-- Connexion -->
            <a href="{% url 'connexion_page'%}" class="button-1 connexion">Connexion</a>
            <!-- Inscription-->
            <a href="{% url 'inscription_page'%}" class="button-1 inscription">Inscription</a>
          </div>
        
        </nav>
      </header>
      <main>

          <form method="POST">

            <center><h3>Candidater pour un poste de<br></h3><h2>{{annonces.titre}}</h2></center>
            {% csrf_token %}
            <div class="element">
              <label for="nom">Nom</label>
              <input type="text" name="nom" class="input" required>
            </div>
            <div class="element">
              <label for="prenom">Prénom</label>
              <input type="text" name="prenom" class="input" required>
            </div>
            <div class="element">
              <label for="email">Email</label>
              <input type="email" name="email" class="input" required>
            </div>
            <div class="element">
              <label for="telephone">Téléphone</label>
              <input type="text" name="telephone" class="input">
            </div>
            <div class="submit_div">
              <label for="submit"></label>
              <input type="submit" name="submit" class="submit">
            </div>
          </form>
          
      </main>
      <footer>
          
        <h3><center>Contactez-nous pour trouver votre job de rêve</center></h3>
        <div class="info-G">
          <h4 class="infos">A propos de jobfinder</h4>
          <p class="infos">Email : findyourdreamjob@jobfinder.com </p>
          <p class="infos">Telephone : 01-45-02-65-16</p>
          <p class="infos">Siège social : 36 Quai des Orfèvres, <br>75016 Paris </p>
          <p class="infos">SIRET :  91326852000065 </p>
        </div>
       <div class="reseaux-J">
        <div class="reseaux">
          <h4>Nos réseaux sociaux : </h4>
          <ul>
            <a class="loo" href="https://www.instagram.com/hoppy.epitech/" ><img class="logo-footer" src="{% static 'img/Logo_Insta.png' %}" alt=""></a>
            <a class="loo" href="https://www.linkedin.com/school/epitech---european-institute-of-technology/posts/?feedView=all" ><img class="logo-footer" src="{% static 'img/Logo_LinkedIn.png' %}" alt=""></a>
            <a class="loo" href="https://x.com/Epitech" ><img class="logo-footer" src="{% static 'img/Logo_X.png' %}" alt=""></a>
            <a class="loo" href="" ><img src="{% static 'img/Logo_dispo.png' %}" class="logo-footer" alt=""></a>
            <!-- <a  href="" ><img class="logo-footer" src="" alt="">App store</a> -->
          </ul>
        </div>
        <div class="info-J">
          <p class="mention"><center>CGV</center></p>
          <p class="mention"><center> - </center></p>
          <p class="mention"><center>Mentions légales</center></p>
          <p class="mention"><center> - </center></p>
          <p class="mention"><center>Traitement de données</center></p>
        </div>
      </div>
      </footer>
    </body>
</html>
