{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Recherche page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style_recherche.css' %}">
    </head>
    <body>
      <header>
        <nav>
          <!-- logo -->
          <div class="logo">
            <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
          </div>
          {% if user.authentificated %}

          <div class="log">
            <a href="{% url 'jobfinder_compte:user_page'%}" class="button-1 connexion"> {{utilisateur.prenom}} </a>
            
          </div>

          {% else %}

          <div class="log">
            <!-- Connexion -->
            <a href="{% url 'connexion_page'%}" class="button-1 connexion">Connexion</a>
            <!-- Inscription-->
            <a href="{% url 'inscription_page'%}" class="button-1 inscription">Inscription</a>
          </div>

          {% endif %}
        </nav>
      </header>
      <main>
        <form class="rechercheFrom" method="POST" action="{% url 'recherche_page'%}">
          {% csrf_token %}
          <div class="searchBar">
            <input type="text" name="recherche" class="recherche" size="40" placeholder="Search here"/>
            <button class="searchBut"><img src="{% static 'img/Loupe.png' %}" class="searchBut"></button>
          </div>
        </form>
        <!-- Ici doit y avoir les annonces -->
        {% for annonce in annonces %}
        <div class="jobEncart">
          
          <div class="jobTitle">
            <h3 class="annonceTitre">{{annonce.titre}}</h3>
            <h6 class="annonceElement">Adresse : <br>{{annonce.adresse}}</h6>
            <h6 class="annonceElement">Entreprise : <br>{{annonce.nom_entreprise}}</h6>
            <h6 class="annonceElement">Type de contrat :<br>{{annonce.contrat}}</h6>
            <h6 class="annonceElement">Date de publication :<br>{{annonce.date}}</h6>
          </div>

          <div class="short_description">
            <p>{{annonce.short_description}}</p>
          </div>

           <!-- Longue description cachée -->
          <div class="long_description" style="display: none;">
            <p>{{ annonce.long_description }}</p>
          </div>

          <div class="buttons">
            <button class="learnMore">Learn More</button>
            <a href="{% url 'candidature_form'%}"><button class="postuler">Postuler</button></a>
          </div>
        </div>
        {% endfor %}
      </main>
      <footer>
          <h4>Contactez-nous</h4>
          <p>Email : x </p>
          <p>Télephone : 06-</p>
          <p>adresse</p>
      </footer>

      <script>

        const learnMoreButton = document.querySelectorAll(".learnMore")

          learnMoreButton.forEach(button => {
            button.addEventListener("click", function(){

            const jobEncart = button.closest(".jobEncart")

            const longDescription = jobEncart.querySelector(".long_description")
            const shortDescription = jobEncart.querySelector(".short_description")

            if (longDescription.style.display == "none"){
              longDescription.style.display = "block"
              shortDescription.style.display = "none"
              button.textContent = "Show Less"
            }else{
              longDescription.style.display = "none"
              shortDescription.style.display = "block"
              button.textContent = "Learn More"
            }
          });          
        })
      
      </script>
    </body>
</html>