<!DOCTYPE html>
<html>
    <head>
        <title>Recherche page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style/style_main.css">
    </head>
    <body>
      <header>
        <nav>
          <!-- logo -->
          <div class="logo">
            <a href="home_page.html"><img src="JobFinder_Front_Elements/Logo_main.png" class="logo_img"></a>
          </div>
          <div class="log">
            <!-- Connexion -->
            <a href="" class="button-1 connexion">Connexion</a>
            <!-- Inscription-->
            <a href="user_form.html " class="button-1 inscription">Inscription</a>
          </div>
        </nav>
      </header>
      <main>
        <form action="recherche_page.html">
          <div class="researchBar">
            <input type="text" name="recherche" class="recherche" size="40" placeholder="Search here"/>
            <button class="searchBut"><img src="JobFinder_Front_Elements/Loupe.png" class="searchBut"></button>
          </div>
        </form>
        <!-- Ici doit y avoir les annonces -->
        <div>
          {% for blog in blogs %}

          

          {% endfor %}
        </div>

      </main>
      <footer>
          <h4>Contactez-nous</h4>
          <p>Email : x </p>
          <p>Télephone : 06-</p>
          <p>adresse</p>
      </footer>
    </body>
</html>
