<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Annonces</title>
</head>
<style>
    table,
    th,
    td
    {
        border: 2px solid;
    }
</style>

<body>
    <h2 style="text-align:center"> Entreprise Information </h2>
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>Nom entreprises</th>
                <th>Titre</th>
                <th>Adresse</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Edit Blog</th>
                <th>Remove Blog</th>
            </tr>
        </thead>
        <tbody>
            {% for entreprise in entreprises %}
            <tr>
                <td>{{entreprise.nom_entreprise}}</td>
                <td>{{entreprise.pageweb}}</td>
                <td>{{entreprise.adresse}}</td>
                <td>{{entreprise.taille}}</td>
                <td>{{entreprise.description}}</td>
                <td>{{entreprise.email}}</td>
                <td>{{entreprise.mdp}}</td>

                <td>
                    <a href="/update-entreprise/{{entreprise.pk}}">Update</a>
                </td>
                <td>
                    <a href="/delete/{{entreprise.pk}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
