<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Annonces</title>
</head>
<style>
    table,
    th,
    td
    {
        border: 2px solid;
    }
</style>

<body>
    <h2 style="text-align:center"> Annonces Information </h2>
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>Annonce ID</th>
                <th>Titre</th>
                <th>Adresse</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Edit Blog</th>
                <th>Remove Blog</th>
            </tr>
        </thead>
        <tbody>
            {% for annonce in annonces %}
            <tr>
                <td>{{annonce.annonce_id}}</td>
                <td>{{annonce.titre}}</td>
                <td>{{annonce.adresse}}</td>
                <td>{{annonce.salaire}}</td>
                <td>{{annonce.contrat}}</td>
                <td>{{annonce.date}}</td>
                <td>{{annonce.short_description}}</td>
                <td>{{annonce.long_description}}</td>

                <td>
                    <a href="/update/{{annonce.pk}}">Update</a>
                </td>
                <td>
                    <a href="/delete/{{annonce.pk}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
