<!DOCTYPE html>
<html>
    <head>
        <title>User form</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <header>
        <nav>
          <!-- logo -->
          <div>
            <a href="home_page.html">LOGO</a>
          </div>
          <!-- connexion -->
           <div>
            <a href="">Connexion</a>
           </div>
           <!-- Inscription-->
            <div>
              <a href="user_form.html">Inscription</a>
            </div>
        </nav>
    </header>
    <form method="post" action="{% url 'process_user_form' %}">
        {% csrf_token %}
        <main>
          <div>
            <label for="nom">Nom</label><br>
            <input type="text" name="nom" required>
        </div>
        <div>
            <label for="prenom">Prénom</label><br>
            <input type="text" name="prenom" required>
        </div>
        <div>
            <label for="email">Email</label><br>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="telephone">Téléphone</label><br>
            <input type="text" name="telephone">
        </div>
        <div>
            <label for="mdp">Mot de passe</label><br>
            <input type="password" name="mdp" required>
        </div>
        <div>
            <label for="mdp">Confirmation du mot de passe</label><br>
            <input type="password" name="mdp" required>
        </div>
        <div>
            <label for="submit"></label><br>
            <input type="submit" name="submit" value="Envoyer">
        </div>
    </form>
        </main>
        <footer>
          <h4>Contactez-nous</h4>
          <p>Email : x </p>
          <p>Télephone : 06-</p>
          <p>adresse</p>
        </footer>
    </body>
</html>
