@font-face {
    font-family: Quantify;
    src: url(../font/Quantify.ttf);
}

@font-face {
    font-family: ITC_book;
    src: url(../font/ITC/ITCAvantGardeStd-BkCn.otf);
}
/* django a as l'air d'aimer les otf font mais les ttf c'est ok */


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: ITC_book;
}

header{
    flex: 1;
    display: flex;
}


nav{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.logo{
    flex: 3;

}

.logo_img{
    max-width: 20%;
    max-height: 99%;
    margin: 10px;
}

/* Fin Header */

/* Main */
main{
    flex:6;
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
}

/* Conexion Inscription */
.choixlog{
    padding: 3%;
    background-color: #ececec;
    border-radius: 8px;
}

.entrepriseLog{
    align-items: center;
    background-color: #828dc4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: Quantify,system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(2rem - 1px) calc(10rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.utilisateurLog{
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: Quantify,system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(2rem - 1px) calc(10rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

/* Footer */
footer{
    flex: 3;
    border: solid black;
}

