{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Formulaire particuliers</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'new_css/style_form.css' %}">
    </head>
    <body>
        <header>
            <nav>
              <!-- logo -->
              <div class="logo">
                <a href="{% url 'home_page'%}"><img src="{% static 'img/Logo_main.png' %}" class="logo_img"></a>
              </div>
            </nav>
        </header>
        <main>
            <form method="POST">
                {% csrf_token %}
                <h2><center>Création de votre compte particulier</center></h2>
                {%for message in messages%}
                    <p><center>{{ message }}</center></p>
                {%endfor%}
                <div class="element">
                    <label for="nom">Nom</label>
                    <input type="text" name="nom" class="input" required>
                </div>
                <div class="element">
                    <label for="prenom">Prénom</label>
                    <input type="text" name="prenom" class="input" required>
                </div>
                <div class="element">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="input" required>
                </div>
                <div class="element">
                    <label for="telephone">Téléphone</label>
                    <input type="text" name="telephone" maxlength="10" class="input">
                </div>
                <div class="element">
                    <label for="cmdp">Mot de passe</label>
                    <input type="password" name="cmdp" class="input" required>
                </div>
                <div class="element">
                    <label for="password">Confirmation du mot de passe</label>
                    <input type="password" name="password" class="input" required>
                </div>
                <div class="submit_div">
                    <input type="submit" name="submit" class="button-1 submit" value="Inscription">
                </div>
            </form>

        </main>
    </body>
</html>
