{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Liste Utilisateur</title>
    </head>
    <body>
        <form method ='POST'>
            {% csrf_token %}
        <table align="center" style="margin: 0px auto;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>action</th>
                </tr>
            </thead>
            {%if not TabPar.instance.id%}
                {%include 'editer.html'%}
            {%endif%}
            <tbody>
                {%for us in particulier%}
                <tr>
                    {%if TabPar.instance.id == us.id%}
                    {%include 'editer.html'%}
                    {%else%}
                    <td>{{us.nom}}</td>
                    <td>{{us.prenom}}</td>
                    <td>{{us.telephone}}</td>
                    <td><button name="editerPar"value="{{us.id}}">editer</button><button name="supprimerPar"value="{{us.id}}">supprimer</button></td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>



    <form method ='POST'>
        {% csrf_token %}
        <table align="center" style="margin: 0px auto;">
            <thead>
                <tr>
                    <th>nom entreprise</th>
                    <th>page web</th>
                    <th>adresse</th>
                    <th>taille</th>
                    <th>description</th>
                    <th>action</th>
                </tr>
            </thead>
            {%if not TabEnt.instance.id%}
                {%include 'editerentreprise.html'%}
            {%endif%}
            <tbody>
                {%for x in entreprises%}
                <tr>
                    {%if TabEnt.instance.id == x.id%}
                    {%include 'editerentreprise.html'%}
                    {%else%}

                    <td>{{x.nom_entreprise}}</td>
                    <td>{{x.pageweb}}</td>
                    <td>{{x.adresse}}</td>
                    <td>{{x.taille}}</td>
                    <td>{{x.description}}</td>
                    <td><button name="editerEnt"value="{{x.id}}">editer</button><button name="supprimerEnt"value="{{x.id}}">supprimer</button></td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>





        <form method ='POST'>
            {% csrf_token %}
        <table align="center" style="margin: 0px auto;">
            <thead>
                <tr>
                    <th>titre</th>
                    <th>adresse</th>
                    <th>nom entreprise</th>
                    <th>salaise</th>
                    <th>contrat</th>
                    <th>date</th>
                    <th>description</th>
                </tr>
            </thead>
            {%if not TabAnn.instance.id%}
            {%include 'editerannonce.html'%}
            {%endif%}
            <tbody>
                {%for y in annonces%}
                <tr>
                    {%if TabAnn.instance.id == y.id%}
                    {%include 'editerannonce.html'%}
                    {%else%}
                    <td>{{y.titre}}</td>
                    <td>{{y.adresse}}</td>
                    <td>{{y.nom_entreprise}}</td>
                    <td>{{y.salaire}}</td>
                    <td>{{y.contrat}}</td>
                    <td>{{y.date}}</td>
                    <td>{{y.short_description}}</td>
                    <td><button name="editerAnn"value="{{y.id}}">editer</button><button name="supprimerAnn"value="{{y.id}}">supprimer</button></td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>



        <form method ='POST'>
            {% csrf_token %}
        <table align="center" style="margin: 0px auto;">
            <thead>
                <tr>
                    <th>Mail</th>
                    <th>action</th>
                </tr>
            </thead>
            {%if not TabUti.instance.id%}
            {%include 'editeruser.html'%}
            {%endif%}
            <tbody>
                {%for z in users%}
                <tr>
                    {%if TabUti.instance.id == z.id%}
                    {%include 'editeruser.html'%}
                    {%else%}
                    <td>{{z.email}}</td>
                    <td><button name="editer"value="{{z.id}}">editer</button><button name="supprimer"value="{{z.id}}">supprimer</button></td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
    </body>
</html>